*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
.editorconfig
.gitignore
.mailmap
CODE_OF_CONDUCT.adoc
CONTRIBUTING.md
README.md
build.gradle
buildSrc/spring-build-src.gradle
buildSrc/src/
gradle.properties
gradle/
gradlew
gradlew.bat
import-into-eclipse.bat
import-into-eclipse.sh
import-into-idea.md
settings.gradle
spring-aop/spring-aop.gradle
spring-aop/src/main/java/org/aopalliance/
spring-aop/src/main/java/org/springframework/aop/Advisor.java
spring-aop/src/main/java/org/springframework/aop/AfterAdvice.java
spring-aop/src/main/java/org/springframework/aop/AfterReturningAdvice.java
spring-aop/src/main/java/org/springframework/aop/AopInvocationException.java
spring-aop/src/main/java/org/springframework/aop/BeforeAdvice.java
spring-aop/src/main/java/org/springframework/aop/ClassFilter.java
spring-aop/src/main/java/org/springframework/aop/DynamicIntroductionAdvice.java
spring-aop/src/main/java/org/springframework/aop/IntroductionAdvisor.java
spring-aop/src/main/java/org/springframework/aop/IntroductionAwareMethodMatcher.java
spring-aop/src/main/java/org/springframework/aop/IntroductionInfo.java
spring-aop/src/main/java/org/springframework/aop/IntroductionInterceptor.java
spring-aop/src/main/java/org/springframework/aop/MethodBeforeAdvice.java
spring-aop/src/main/java/org/springframework/aop/MethodMatcher.java
spring-aop/src/main/java/org/springframework/aop/Pointcut.java
spring-aop/src/main/java/org/springframework/aop/PointcutAdvisor.java
spring-aop/src/main/java/org/springframework/aop/ProxyMethodInvocation.java
spring-aop/src/main/java/org/springframework/aop/RawTargetAccess.java
spring-aop/src/main/java/org/springframework/aop/SpringProxy.java
spring-aop/src/main/java/org/springframework/aop/TargetClassAware.java
spring-aop/src/main/java/org/springframework/aop/TargetSource.java
spring-aop/src/main/java/org/springframework/aop/ThrowsAdvice.java
spring-aop/src/main/java/org/springframework/aop/TrueClassFilter.java
spring-aop/src/main/java/org/springframework/aop/TrueMethodMatcher.java
spring-aop/src/main/java/org/springframework/aop/TruePointcut.java
spring-aop/src/main/java/org/springframework/aop/aspectj/
spring-aop/src/main/java/org/springframework/aop/config/
spring-aop/src/main/java/org/springframework/aop/framework/AbstractAdvisingBeanPostProcessor.java
spring-aop/src/main/java/org/springframework/aop/framework/AbstractSingletonProxyFactoryBean.java
spring-aop/src/main/java/org/springframework/aop/framework/Advised.java
spring-aop/src/main/java/org/springframework/aop/framework/AdvisedSupport.java
spring-aop/src/main/java/org/springframework/aop/framework/AdvisedSupportListener.java
spring-aop/src/main/java/org/springframework/aop/framework/AdvisorChainFactory.java
spring-aop/src/main/java/org/springframework/aop/framework/AopConfigException.java
spring-aop/src/main/java/org/springframework/aop/framework/AopContext.java
spring-aop/src/main/java/org/springframework/aop/framework/AopInfrastructureBean.java
spring-aop/src/main/java/org/springframework/aop/framework/AopProxy.java
spring-aop/src/main/java/org/springframework/aop/framework/AopProxyFactory.java
spring-aop/src/main/java/org/springframework/aop/framework/AopProxyUtils.java
spring-aop/src/main/java/org/springframework/aop/framework/CglibAopProxy.java
spring-aop/src/main/java/org/springframework/aop/framework/DefaultAdvisorChainFactory.java
Would remo
ve spring-aop/src/main/java/org/springframework/aop/framework/DefaultAopProxyFactory.java
spring-aop/src/main/java/org/springframework/aop/framework/InterceptorAndDynamicMethodMatcher.java
spring-aop/src/main/java/org/springframework/aop/framework/JdkDynamicAopProxy.java
spring-aop/src/main/java/org/springframework/aop/framework/ObjenesisCglibAopProxy.java
spring-aop/src/main/java/org/springframework/aop/framework/ProxyConfig.java
spring-aop/src/main/java/org/springframework/aop/framework/ProxyCreatorSupport.java
spring-aop/src/main/java/org/springframework/aop/framework/ProxyFactory.java
spring-aop/src/main/java/org/springframework/aop/framework/ProxyFactoryBean.java
spring-aop/src/main/java/org/springframework/aop/framework/ProxyProcessorSupport.java
spring-aop/src/main/java/org/springframework/aop/framework/ReflectiveMethodInvocation.java
spring-aop/src/main/java/org/springframework/aop/framework/adapter/
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/AbstractAdvisorAutoProxyCreator.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/AbstractAutoProxyCreator.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/AbstractBeanFactoryAwareAdvisingPostProcessor.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/AutoProxyUtils.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/BeanFactoryAdvisorRetrievalHelper.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/BeanNameAutoProxyCreator.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/DefaultAdvisorAutoProxyCreator.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/InfrastructureAdvisorAutoProxyCreator.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/ProxyCreationContext.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/TargetSourceCreator.java
spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/package-info.java
spring-aop/src/main/java/org/springframework/aop/framework/package-info.java
spring-aop/src/main/java/org/springframework/aop/interceptor/
spring-aop/src/main/java/org/springframework/aop/package-info.java
spring-aop/src/main/java/org/springframework/aop/scope/
spring-aop/src/main/java/org/springframework/aop/support/
spring-aop/src/main/java/overview.html
spring-aop/src/main/kotlin/
spring-aop/src/main/resources/
spring-aop/src/test/java/org/springframework/aop/aspectj/
spring-aop/src/test/java/org/springframework/aop/config/
spring-aop/src/test/java/org/springframework/aop/framework/
spring-aop/src/test/java/org/springframework/aop/interceptor/
spring-aop/src/test/java/org/springframework/aop/scope/
spring-aop/src/test/java/org/springframework/aop/support/
spring-aop/src/test/java/org/springframework/tests/
spring-aop/src/test/java/test/
spring-aop/src/test/kotlin/
spring-aop/src/test/resources/log4j2-test.xml
spring-aop/src/test/resources/org/springframework/aop/config/
spring-aop/src/test/resources/org/springframework/aop/framework/
spring-aop/src/test/resources/org/springframework/aop/interceptor/
spring-aop/src/test/resources/org/springframework/aop/scope/
spring-aop/src/test/resources/org/springframework/aop/support/
spring-aspects/spring-aspects.gradle
spring-aspects/src/
spring-beans/spring-beans.gradle
spring-beans/src/
spring-context-indexer/spring-context-indexer.gradle
sprin
g-context-indexer/src/
spring-context-support/spring-context-support.gradle
spring-context-support/src/
spring-context/spring-context.gradle
spring-context/src/main/
spring-context/src/test/groovy/
spring-context/src/test/java/example/
spring-context/src/test/java/org/springframework/aop/aspectj/
spring-context/src/test/java/org/springframework/aop/config/
spring-context/src/test/java/org/springframework/aop/framework/
spring-context/src/test/java/org/springframework/aop/scope/
spring-context/src/test/java/org/springframework/beans/
spring-context/src/test/java/org/springframework/cache/
spring-context/src/test/java/org/springframework/context/ACATester.java
spring-context/src/test/java/org/springframework/context/AbstractApplicationContextTests.java
spring-context/src/test/java/org/springframework/context/BeanThatBroadcasts.java
spring-context/src/test/java/org/springframework/context/BeanThatListens.java
spring-context/src/test/java/org/springframework/context/LifecycleContextBean.java
spring-context/src/test/java/org/springframework/context/TestListener.java
spring-context/src/test/java/org/springframework/context/annotation/componentscan/
spring-context/src/test/java/org/springframework/context/annotation/configuration/
spring-context/src/test/java/org/springframework/context/annotation/spr10546/scanpackage/
spring-context/src/test/java/org/springframework/context/annotation/spr12111/
spring-context/src/test/java/org/springframework/context/annotation/spr12233/
spring-context/src/test/java/org/springframework/context/annotation/spr12334/
spring-context/src/test/java/org/springframework/context/annotation/spr16756/
spring-context/src/test/java/org/springframework/context/annotation2/
spring-context/src/test/java/org/springframework/context/annotation3/
spring-context/src/test/java/org/springframework/context/annotation4/
spring-context/src/test/java/org/springframework/context/annotation5/
spring-context/src/test/java/org/springframework/context/annotation6/
spring-context/src/test/java/org/springframework/context/config/
spring-context/src/test/java/org/springframework/context/conversionservice/
spring-context/src/test/java/org/springframework/context/event/
spring-context/src/test/java/org/springframework/context/expression/
spring-context/src/test/java/org/springframework/context/groovy/
spring-context/src/test/java/org/springframework/context/i18n/
spring-context/src/test/java/org/springframework/context/index/
spring-context/src/test/java/org/springframework/context/support/ApplicationContextLifecycleTests.java
spring-context/src/test/java/org/springframework/context/support/Assembler.java
spring-context/src/test/java/org/springframework/context/support/AutowiredService.java
spring-context/src/test/java/org/springframework/context/support/BeanFactoryPostProcessorTests.java
spring-context/src/test/java/org/springframework/context/support/ClassPathXmlApplicationContextTests.java
spring-context/src/test/java/org/springframework/context/support/ConversionServiceFactoryBeanTests.java
spring-context/src/test/java/org/springframework/context/support/DefaultLifecycleProcessorTests.java
spring-context/src/test/java/org/springframework/context/support/EnvironmentIntegrationTests.java
spring-context/src/test/java/org/springframework/context/support/EnvironmentSecurityManagerIntegrationTests.java
spring-context/src/test/java/org/springframework/context/support/FactoryBeanAndApplicationListener.java
spring-context
/src/test/java/org/springframework/context/support/GenericApplicationContextTests.java
spring-context/src/test/java/org/springframework/context/support/GenericXmlApplicationContextTests.java
spring-context/src/test/java/org/springframework/context/support/LifecycleTestBean.java
spring-context/src/test/java/org/springframework/context/support/LiveBeansViewTests.java
spring-context/src/test/java/org/springframework/context/support/Logic.java
spring-context/src/test/java/org/springframework/context/support/NoOpAdvice.java
spring-context/src/test/java/org/springframework/context/support/PropertyResourceConfigurerIntegrationTests.java
spring-context/src/test/java/org/springframework/context/support/PropertySourcesPlaceholderConfigurerTests.java
spring-context/src/test/java/org/springframework/context/support/ResourceBundleMessageSourceTests.java
spring-context/src/test/java/org/springframework/context/support/ResourceConverter.java
spring-context/src/test/java/org/springframework/context/support/SerializableBeanFactoryMemoryLeakTests.java
spring-context/src/test/java/org/springframework/context/support/Service.java
spring-context/src/test/java/org/springframework/context/support/SimpleThreadScopeTests.java
spring-context/src/test/java/org/springframework/context/support/Spr7283Tests.java
spring-context/src/test/java/org/springframework/context/support/Spr7816Tests.java
spring-context/src/test/java/org/springframework/context/support/StaticMessageSourceTests.java
spring-context/src/test/java/org/springframework/context/support/TestProxyFactoryBean.java
spring-context/src/test/java/org/springframework/core/
spring-context/src/test/java/org/springframework/ejb/
spring-context/src/test/java/org/springframework/format/
spring-context/src/test/java/org/springframework/instrument/
spring-context/src/test/java/org/springframework/jmx/
spring-context/src/test/java/org/springframework/jndi/
spring-context/src/test/java/org/springframework/mock/
spring-context/src/test/java/org/springframework/remoting/
spring-context/src/test/java/org/springframework/scheduling/
spring-context/src/test/java/org/springframework/scripting/
spring-context/src/test/java/org/springframework/tests/
spring-context/src/test/java/org/springframework/ui/
spring-context/src/test/java/org/springframework/util/
spring-context/src/test/java/org/springframework/validation/
spring-context/src/test/java/test/
spring-context/src/test/kotlin/
spring-context/src/test/resources/do_not_delete_me.txt
spring-context/src/test/resources/example/
spring-context/src/test/resources/log4j2-test.xml
spring-context/src/test/resources/org/springframework/aop/aspectj/
spring-context/src/test/resources/org/springframework/aop/config/
spring-context/src/test/resources/org/springframework/aop/framework/
spring-context/src/test/resources/org/springframework/aop/scope/
spring-context/src/test/resources/org/springframework/beans/
spring-context/src/test/resources/org/springframework/cache/
spring-context/src/test/resources/org/springframework/context/
spring-context/src/test/resources/org/springframework/ejb/
spring-context/src/test/resources/org/springframework/instrument/
spring-context/src/test/resources/org/springframework/jmx/
spring-context/src/test/resources/org/springframework/scheduling/
spring-context/src/test/resources/org/springframework/scripting/
spring-context/src/test/resources/org/springframework/validation/
spring-core/spring-core.gradle
Would remov
e spring-core/src/
spring-expression/readme.txt
spring-expression/spring-expression.gradle
spring-expression/src/
spring-framework-bom/
spring-instrument/spring-instrument.gradle
spring-instrument/src/
spring-jcl/spring-jcl.gradle
spring-jcl/src/
spring-jdbc/spring-jdbc.gradle
spring-jdbc/src/
spring-jms/spring-jms.gradle
spring-jms/src/
spring-messaging/spring-messaging.gradle
spring-messaging/src/
spring-myspring/build.gradle
spring-myspring/src/
spring-orm/spring-orm.gradle
spring-orm/src/
spring-oxm/castorbuilder.properties
spring-oxm/spring-oxm.gradle
spring-oxm/src/
spring-test/spring-test.gradle
spring-test/src/
spring-tx/spring-tx.gradle
spring-tx/src/
spring-web/spring-web.gradle
spring-web/src/
spring-webflux/spring-webflux.gradle
spring-webflux/src/
spring-webmvc/spring-webmvc.gradle
spring-webmvc/src/
spring-websocket/spring-websocket.gradle
spring-websocket/src/
src/
/.gitignore
/.editorconfig
